[submodule "src/iot-firmware/nrf52840dk-co2/RIOT"]
	path = src/iot-firmware/nrf52840dk-co2/RIOT
	url = https://github.com/vera/RIOT
[submodule "src/iot-firmware/myno-update-protocol/contiki-ng"]
	path = src/iot-firmware/myno-update-protocol/contiki-ng
	url = git@github.com:contiki-ng/contiki-ng.git
[submodule "src/iot-firmware/myno-update-protocol/RIOT"]
	path = src/iot-firmware/myno-update-protocol/RIOT
	url = git@github.com:vera/RIOT.git
[submodule "src/iot-firmware/myno-update-protocol-riot/RIOT"]
	path = src/iot-firmware/myno-update-protocol-riot/RIOT
	url = git@github.com:vera/RIOT.git
